<div
  class="flex h-[calc(100vh-80px)] items-center justify-center p-5 bg-white w-full"
>
  <div class="text-center">
    <h1 class="mt-5 text-[24px] font-bold text-slate-500">
      404
      <br />
      Page not found
    </h1>
    <p class="text-slate-600 mt-5 text-lg">
      The page you are looking for doesn't exist or <br />has been removed.
    </p>
  </div>
</div>
