---
import * as cheerio from "cheerio";
const response = await fetch("https://www.bing.com/");
const html = await response.text();
const $ = cheerio.load(html);
const bingBgStyle = $(".img_cont").attr("style");
---

<html>
  <head><title>Home</title></head>
  <body w-full bg-center bg-cover bg-no-repeat style={bingBgStyle}></body>

  <style>
    body {
      height: 100vh;
    }
  </style>
</html>
