---
// import { Image } from "@astrojs/image/components";
import MSearch from "$src/svelte/biz/ly01ml/partial/msearch.svelte";
import Sinahq from "$src/svelte/biz/ly01ml/partial/sinahq.svelte";
import * as cheerio from "cheerio";

let bingBgStyle = "";

try {
  const bingDomain = "https://cn.bing.com";
  const response = await fetch(bingDomain);
  const html = await response.text();
  const $ = cheerio.load(html);
  bingBgStyle = $(".img_cont").attr("style").replace("display: block;", "");
  if (bingBgStyle.includes("https")) {
    bingBgStyle = bingBgStyle.replace(bingDomain, "https://s.cn.bing.net");
  } else {
    bingBgStyle = bingBgStyle.replace("/th", `https://s.cn.bing.net/th`);
  }
} catch (e) {
  bingBgStyle =
    'background-image: url("https://s.cn.bing.net/th?id=OHR.CormorantBridge_ZH-CN7673299694_1920x1080.webp&qlt=50");';
}
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Linyupark Home Start Page</title>
  </head>
  <body w-full bg-center bg-cover bg-no-repeat style={bingBgStyle}>
    <!-- 全功能搜索 -->
    <div class="block" flex flex-wrap items-center bg-white bg-op-80>
      <i i-ion-search-outline ml-2 mr-4></i>
      <MSearch client:load />
    </div>
    <div class="block" flex flex-wrap bg-white bg-op-80>
      <h3 bg-fuchsia-5 bg-op-80 rounded text-white p-1 text-center w-10>
        私服
      </h3>
      <a href="https://blog.ly01.top/">
        <i i-ion-edit text-3 mr-1></i>
        博客
      </a>
      <a href="http://drives.ly011.top:9081/">
        <i i-ion-file-tray-full-outline text-3 mr-1></i>
        网盘
      </a>
      <a href="http://media.ly011.top:8096/">
        <i i-ion-film-outline text-3 mr-1></i>
        影音
      </a>
      <a href="https://io-console.ly011.top/">
        <i i-ion-server-outline text-3 mr-1></i>
        存储
      </a>
      <a href="https://nerdvm.racknerd.com/login.php">
        <i i-ion-cloud-upload-outline text-3 mr-1></i>
        VPS
      </a>
      <a
        href="/mhtml/TD2-new-starter.mhtml"
        download="全境封鎖2新手特工你需要知道的事.mhtml">全境2 - 新手教學</a
      >
      <a
        href="https://docs.google.com/presentation/d/15nGuLx4aTBfygWww3CLVJIlW6yLlgy0rFink3If4sjM/edit#slide=id.p"
        >全境2 - 配裝 (TU17)
      </a>
    </div>
    <div class="block" flex flex-wrap bg-white bg-op-80>
      <h3 bg-lime-6 bg-op-80 rounded text-white p-1 text-center w-10>工作</h3>
      <a
        href="https://lanhuapp.com/dashboard/#/item?fid=all&tid=3f3b2a6e-43e5-416f-b612-23471313cda4"
      >
        <i i-ion-images-outline text-3 mr-1></i>
        蓝湖
      </a>
      <a
        href="https://www.figma.com/file/dmareCCG586PgHg2k10om5/Initial-Mockup---Onboarding?type=design&node-id=0-1&t=Y1ZcMr7ztUP0yUvc-0"
      >
        <i i-ion-images-outline text-3 mr-1></i>
        figma
      </a>
      <a href="https://app.apifox.com/project/598653">
        <i i-ion-logo-firefox text-3 mr-1></i>
        APIFox
      </a>
      <a href="https://bitbucket.org/skybridge-group/workspace/overview">
        <i i-ion-logo-bitbucket text-3 mr-1></i>
        Bitbucket
      </a>
      <a href="https://skybridge-group.atlassian.net/jira/your-work">
        <i i-ion-chatbox-working text-3 mr-1></i>
        JIRA
      </a>
      <a href="https://h5.directloan.ph:9001/auth/login/sentry/">
        <i i-ion-notifications-circle-outline text-3 mr-1></i>
        Sentry
      </a>
      <a href="http://192.168.0.106:9102/">
        <i text-3 mr-1></i>
        工时
      </a>
      <a href="https://framework7.io/docs/">
        <i text-3 mr-1></i>
        Framework7
      </a>
      <a href="https://docs.astro.build/en/getting-started/">
        <i text-3 mr-1></i>
        Astro
      </a>
      <a href="https://react-vant.3lang.dev/guide/about">
        <i text-3 mr-1></i>
        ReactVant
      </a>
      <a href="https://svelte.dev/docs">
        <i text-3 mr-1></i>
        Svelte
      </a>
      <a href="https://unocss.dev/">
        <i text-3 mr-1></i>
        Unocss
      </a>
      <a href="https://ant.design/components/overview-cn/">
        <i text-3 mr-1></i>
        ReactAnt
      </a>
      <a href="https://procomponents.ant.design/docs">
        <i text-3 mr-1></i>
        ReactAntPro
      </a>
      <a href="https://www.remove.bg/zh">
        <i text-3 mr-1></i>
        背景消除
      </a>
      <a href="https://tinypng.com/">
        <i text-3 mr-1></i>
        无损压缩
      </a>
    </div>

    <div class="block" flex flex-wrap bg-white bg-op-80>
      <h3 bg-rose-6 bg-op-80 rounded text-white p-1 text-center w-10>韭场</h3>
      <Sinahq client:load />
    </div>

    <!-- <button id="logtoLogin">
      登录
    </button>

    <button id="logtoLogout">
      退出
    </button> -->
  </body>
</html>

<!-- <script>
  import LogtoClient from "@logto/browser";

  const logtoClient = new LogtoClient({
    endpoint: "https://auth.80yes.ml/",
    appId: "ezv36ipd2hec9c2w78mv6",
  });
  logtoClient.isAuthenticated().then(r => {
    console.log(r)
  })
  document.getElementById("logtoLogin").addEventListener('click', () => {
    logtoClient.signIn('http://localhost:3000/logto-callback')
  })
  document.getElementById("logtoLogout").addEventListener('click', () => {
    logtoClient.signOut('http://localhost:3000/logto-signout')
  })
</script> -->

<style lang="scss">
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }
  .block {
    padding: 10px 20px;
    margin: 0.5px 10px;
    border-radius: 20px;
    a {
      // border-bottom: 1px dotted #999;
      margin-left: 15px;
      display: flex;
      align-items: center;
      transition: all 0.2s;
      &:hover {
        color: rgb(199, 84, 12);
        transform: translateY(1px);
        border: none;
      }
    }
  }
</style>
