---
import Layout from "../layouts/Layout.astro";
import SafeArea from "$src/components/astro/safe-area-wrap.astro";
import Page from "$src/components/astro/uno/page.astro";
import Navbar from "$src/components/astro/uno/navbar.astro";
import BackLink from "$src/components/svelte/backLink.svelte";
import Ptr from "$src/components/svelte/ptr.svelte";
---

<Layout title="Welcome to Astro.">
  <SafeArea>
    <Page hasHeader>
      <div slot="header">
        <Navbar
          attrs={{
            navClass: ["drop-shadow-sm", "!fixed"],
            bgClass: ["bg-orange-2"],
          }}
        >
          <div slot="left" h-full w-14><BackLink client:load /></div>
          FastPay
          <div slot="right" w-14></div>
        </Navbar>
      </div>
      <div h-12></div>
      <main>
        <Ptr client:load>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
        </Ptr>
      </main>
    </Page>
  </SafeArea>
</Layout>

<style></style>
