---
// https://unocss.dev/interactive/
export interface Props {
  attrs?: {
    navClass?: any[];
    bgClass?: any[];
    innerClass?: any[];
    leftClass?: any[];
    titleClass?: any[];
    subTitleClass?: any[];
    rightClass?: any[];
  };
}
const { attrs } = Astro.props;
---

<!-- navbar -->
<section w-full z-20 sticky class:list={attrs?.navClass ?? []}>
  <!-- navbar bg -->
  <div absolute w-full h-full left-0 top-0 class:list={attrs?.bgClass ?? []}>
  </div>
  <div
    flex
    relative
    items-center
    w-full
    overflow-hidden
    class:list={["justify-between", "h-12"].concat(attrs?.innerClass ?? [])}
  >
    <div
      flex
      justify-center
      items-center
      h-full
      mx-1
      class:list={attrs?.leftClass ?? []}
    >
      <slot name="left" />
    </div>
    <div
      whitespace-nowrap
      class:list={["text-center", "font-500", "text-5"].concat(
        attrs?.titleClass ?? []
      )}
    >
      <slot />
      <div
        font-normal
        leading-none
        text-2
        opacity-55
        class:list={attrs?.subTitleClass ?? []}
      >
        <slot name="subTitle" />
      </div>
    </div>
    <div
      flex
      justify-center
      items-center
      h-full
      mx-1
      class:list={attrs?.rightClass ?? []}
    >
      <slot name="right" />
    </div>
  </div>
</section>
