---
// https://unocss.dev/interactive/
export interface Props {
  class?: string;
  hasHeader?: boolean;
}
const { class: className, hasHeader } = Astro.props;
---

<div h-full w-full overflow-auto absolute class:list={className ?? []}>
  {
    hasHeader && (
      <header>
        <slot name="header" />
      </header>
    )
  }
  <slot />
</div>

<style>
  .astro-page {
    box-sizing: border-box;
    padding-bottom: var(--astro-safe-area-bottom);
    padding-left: var(--astro-safe-area-left);
    padding-right: var(--astro-safe-area-right);
  }
  header {
    padding-top: var(--astro-safe-area-top);
  }
</style>
